.container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 220px 300px;
    gap: 30px;
    justify-content: center;
    /* height:80vh; */
    padding-top: 20px;

    
    
}

.block{
    border: 2px dotted;
    border-radius: 30px;
    width: 650px;
    transition-duration:10sec ;
    background-color: blanchedalmond;
    
    /* cursor:pointer; */
}
.block:hover{
    background-color:aquamarine;
    color:black;
}

.heading{
    text-align: center;
    text-decoration: underline;
}

.subheading{
    padding-left: 25px;
} 
