.container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
    justify-content: center;
    /* height:80vh; */
    padding-top: 20px;
    padding-bottom: 20px;

}

.block{
    border: 2px dotted;
    border-radius: 30px;
    width: 45vw;
    transition-duration:10sec ;
    background-color: blanchedalmond;
    padding:5px;
    
    /* cursor:pointer; */
}
.block:hover{
    background-color:aquamarine;
    color:black;
}

.heading{
    text-align: center;
    text-decoration: underline;
}

.subheading{
    padding-left: 25px;
} 


/* media screen: ................................ */


@media screen and (max-width:375px){
    
.center{
    text-align: center;
    background-color:lightgrey;
}

.center h1,h2{
    font-size: 4vw;
}
}

@media screen and (max-width:770px){
    
    .container{
        display:grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
        justify-content: center;
        /* height:80vh; */
        padding-top: 20px;
       
}

    .block{
        border: 2px dotted;
        border-radius: 30px;
        width: 40vw;
        transition-duration:10sec ;
        background-color: blanchedalmond;
        
        /* cursor:pointer; */
    }

    .heading{
        /* text-align: center;
        text-decoration: underline; */
        font-size:3vh ;
    }
    
    .subheading{
        padding-left: 25px;
        font-size: 2.5vh;
    } 

    .block li{
        font-size:2vh ;
        padding-right: 10px;
    }

    }